.statistic-parser-log-switch-active,
.tag-show-switch{
    cursor: pointer;
}

.seo-box-cols{
    border: 1px solid #ced4da;
    padding: 20px 30px 10px 30px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
}
.seo-box-row{
    margin-left: 0;
    margin-right: 2px;
}
.seo-add-btn-box{
    margin-bottom: 20px;
}
.seo-box-left{
    padding-bottom: 8px;
}
.seo-item-active{
    cursor: pointer;
}