.mainBlocks{
    margin: 0 auto;
    max-width: 1200px;
}
.col-12{
    width: 100%;
    display: inline-block;
}
.col-8{
    width: 79%;
    display: inline-block;
}
.col-4{
    width: 19%;
    display: inline-block;
    vertical-align: top
}
.col-3{
    width: 9%;
    display: inline-block;
    vertical-align: top
}
.indent-up-down-10{
    padding: 10px;
}
.textCenter{
    text-align: center;
}
.colums-right{
    display: inline-flex;
    padding: 0 30px;
}
.list_result h1{
    text-align: center;
}
.list_result ul {
    padding: 0;
    text-align: left;
    list-style: none;
    padding-top: 20px;
    margin: 0 auto;
}
.list_result_ul{
    width: 100%;
}
.list_result ul li {
    background: #fff;
    padding: 20px 20px;
    margin: 7px 0;
}


.list_result ul li a {
    font-size: 18px;
}
#list_result_ul_chanel{
    font-size: 15px;
    text-decoration: underline;
    font-weight: 600;
}
.list_result ul li div:nth-child(3) {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #ffffff;
    color: black;
    padding: 14px;
    font-size: 14px;
    border: none;
}
.stingBlock{
    display: inline-block;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #e2e2e2;outline: none}
/*button style*/
.btm_turquoise_left{
    border-right: 50px;
    background: #3ebeb8;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 0 14px 0 15px;
    text-transform: uppercase;
    width: 98px;
    outline: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.btm_turquoise_right{
    border-right: 50px;
    background: #3ebeb8;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 0 14px 0 15px;
    text-transform: uppercase;
    width: 98px;
    outline: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
.btm_turquoise_right:hover, .btm_turquoise_left:hover, .btm_turquoise_right:visited, .btm_turquoise_left:visited {
    background: #20b6af;
    color: #fff;
    text-decoration: none;
}
/*button style finish*/
/*pagination style start*/

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
}
.pagination li {
    display: inline-block;
    text-align: center;
}
.pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: 0;
    border: 1px solid transparent;
    line-height: 1.5;
}
.pagination a.active {
    cursor: default;
}
.pagination a:active {
    outline: none;
}
.modal-1 .disabled span{
    position: relative;
    /* top: -9px; */
    padding: 5px 12px;
    line-height: 2;
}
.modal-1 li:first-child a {
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 0 0 6px;
}
.modal-1 li:last-child a {
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0;
    border-radius: 0 6px 6px 0;
}
.modal-1 a {
    border-color: #ddd;
    color: #38b6af;
    background: #fff;
}
.modal-1 a:hover {
    background: #eee;
}
.modal-1 a.active, .modal-1 a:active {
    border-color: #38b6af;
    background: #38b6af;
    color: #fff;
}

.modal-2 li:first-child a {
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px;
}
.modal-2 li:last-child a {
    -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0;
}
.modal-2 a {
    border-color: #ddd;
    color: #999;
    background: #fff;
}
.modal-2 a:hover {
    color: #E34E48;
    background-color: #eee;
}
.modal-2 a.active, .modal-2 a:active {
    border-color: #E34E48;
    background: #E34E48;
    color: #fff;
}

.modal-3 a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}
.modal-3 a:hover {
    background-color: #4DAD16;
}
.modal-3 a.active, .modal-3 a:active {
    background-color: #37B247;
}

.modal-4 a {
    margin: 0 5px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #F7C12C;
}
.modal-4 a.prev {
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px;
    width: 100px;
}
.modal-4 a.next {
    -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0;
    width: 100px;
}
.modal-4 a:hover {
    background-color: #FFA500;
}
.modal-4 a.active, .modal-4 a:active {
    background-color: #FFA100;
}

.modal-5 {
    position: relative;
    /*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…Igd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g);*/
    height: 42px;
    z-index: 0;
    display: block;
    text-align: center;
}
.modal-5:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.65)), color-stop(50%, rgba(0, 0, 0, 0.65)), color-stop(60%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
}
.modal-5 a {
    color: #fff;
    padding: 13px 10px 6px 4px;
    margin: 0 10px;
    position: relative;
}
.modal-5 a:hover {
    color: #fff;
}
.modal-5 a:hover:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 24px;
    background: #1E7EE2;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    z-index: -1;
    left: -3px;
    bottom: 4px;
    margin: auto;
}
.modal-5 a.next, .modal-5 a.prev {
    color: #1E7EE2;
}
.modal-5 a.next:hover, .modal-5 a.prev:hover {
    color: #fff;
}
.modal-5 a.next:hover:after, .modal-5 a.prev:hover:after {
    display: none;
}
.modal-5 a.active {
    background: #1E7EE2;
    color: #fff;
}
.modal-5 a.active:before {
    content: '';
    position: absolute;
    top: -11px;
    left: -10px;
    width: 18px;
    border: 10px solid transparent;
    border-bottom: 7px solid #104477;
    z-index: -1;
}
.modal-5 a.active:hover:after {
    display: none;
}

.modal-6 {
    -moz-box-shadow: 0 2px 2px #333;
    -webkit-box-shadow: 0 2px 2px #333;
    box-shadow: 0 2px 2px #333;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.modal-5 .disabled .next, .modal-5 .disabled .prev{
    position: relative;
    top: -11px;
}
.modal-6 a {
    border-color: #ddd;
    color: #999;
    background: #fff;
    padding: 10px 15px;
}
.modal-6 a:hover {
    color: #E34E48;
    background-color: #eee;
}
.modal-6 a.prev {
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px;
    width: 50px;
    position: relative;
}
.modal-6 a.prev:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.modal-6 a.next {
    -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0;
    width: 50px;
    position: relative;
}
.modal-6 a.next:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.modal-6 a.active {
    border-color: #bbb;
    background: #fff;
    color: #E34E48;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
}
/*pagination style end*/
/*preload start*/
.filter {
    position: absolute;
    visibility: hidden;
}

.dots {
    filter: url(#gooeyness);
    padding: 30px;
}

.dot {
    background: #20b6af;
    border-radius: 50%;
    display: inline-block;
    margin-right: 20px;
    width: 32px;
    height: 32px;
}

.dot:first-child {
    animation: FirstDot 3s infinite;
}

.dot:nth-child(2) {
    animation: SecondDot 3s infinite;
}

.dot:nth-child(3) {
    animation: ThirdDot 3s infinite;
}

.dot:nth-child(4) {
    animation: FourthDot 3s infinite;
}

.dot:nth-child(5) {
    animation: FifthDot 3s infinite;
}

@keyframes FirstDot {
    0% {
        transform: scale(1) translateX(0);
    }
    25% {
        transform: scale(2.5) translateX(0);
    }
    50% {
        transform: scale(1) translateX(0);
    }
    83% {
        transform: scale(1) translateX(240px);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}

@keyframes SecondDot {
    0% {
        transform: translateX(0px);
    }
    27% {
        transform: translateX(-40px);
    }
    50% {
        transform: translateX(0px);
    }
    81% {
        transform: translateX(180px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes ThirdDot {
    0% {
        transform: translateX(0px);
    }
    29% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(0px);
    }
    79% {
        transform: translateX(120px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes FourthDot {
    0% {
        transform: translateX(0px);
    }
    31% {
        transform: translateX(-160px);
    }
    50% {
        transform: translateX(0px);
    }
    77% {
        transform: translateX(60px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes FifthDot {
    0% {
        transform: scale(1) translateX(0);
    }
    33% {
        transform: scale(1) translateX(-220px);
    }
    50% {
        transform: scale(1) translateX(0);
    }
    75% {
        transform: scale(2.5) translateX(0);
    }
    100% {
        transform: scale(1) translateX(0);
    }
}
/*preload finish*/
/*
table form style
 */
/*
effects blur
 */
.table_blur {
    background: #f5ffff;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.table_blur th {
    border-top: 1px solid #777777;
    border-bottom: 1px solid #777777;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#9595b6, #5a567f);
    color: white;
    padding: 10px 15px;
    position: relative;
}
.table_blur th:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}
.table_blur thead tr:nth-child(odd) {
    background: #e9e9e9;
    color: #000;
}
.table_blur tr {
    background: #ffffff;
}
.table_blur th:first-child {
    border-left: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur th:last-child {
    border-right: 1px solid #777777;
    border-bottom:  1px solid #777777;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}
.table_blur td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
}
.table_blur tbody:hover td {
    /*color: transparent;*/
    /*text-shadow: 0 0 3px #a09f9d;*/
}
.table_blur tbody:hover tr:hover td {
    /*color: #444444;*/
    /*text-shadow: none;*/
}
/*
finish effects blur
 */
@media (max-width: 768px) {
    .list_result_ul {
        width: 100%;
    }
    .tablet{
        width: 100%;
    }
}
/*
Table
 */
@media screen and (max-width: 600px) {

    table {
        border: 0;
        width: 100%;
    }

    table thead {
        display: none;
    }

    table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 20px solid #ddd;
    }

    table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}
/*
Table end
 */
/*
tabs
 */

/*
Tabs end
 */
